.section {
    width: 100%;
    padding: 0 1.5rem;
    margin-bottom: 5rem;

}

/* .slide {
    opacity: 0;
    transition: 2s ease-in-out;
}

.slide.active {
    opacity: 1;
} */

.figure__container {
    position: relative;
}

.img__slide {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    display: block;
}

.buttons__container {
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: 2%;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.button__slide {
    background-color: inherit;
    border: none;
}

.icon__slide {
    font-size: 1.8rem;

}

.promo__container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 1.5rem; */
    row-gap: 1rem;
    text-align: justify;
}

.button__product {
    background-color: inherit;
    width: 90%;
    padding: .5rem;
    font-family: lora;
    font-size: 1rem;
    border-radius: .5rem;
    margin-top: 1rem;
}

/* checar bien el  products */

@media screen and (min-width:700px) {
    .section {
        width: 100%;
        margin-bottom: 5rem;
        padding: inherit;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .figure__container {
        position: relative;

        width: 100%;
    }




    .img__slide {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }



    .promo__container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: inherit;
        text-align: justify;

    }

    .logo {

        align-self: flex-start;
    }

    .button__product {
        background-color: inherit;
        width: 90%;
        padding: .5rem;
        font-family: lora;
        font-size: 1rem;
        border-radius: .5rem;
        margin-top: 1rem;
        cursor: pointer;
    }


}

@media screen and (min-width:950px) {}